<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lrjgreendaodemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".crud"></activity>
        <activity android:name=".SelectTable"></activity>
        <activity android:name=".AddStudentInfo"></activity>
        <activity android:name=".SearchStudentInfo"></activity>
        <activity android:name=".StudentList"></activity>
        <activity android:name=".AddCourseInfo"></activity>
        <activity android:name=".SearchCourseInfo"></activity>
        <activity android:name=".CourseList"></activity>
        <activity android:name=".AddScoreInfo"></activity>
        <activity android:name=".ScoreList"></activity>
        <activity android:name=".SearchScoreInfo"></activity>

    </application>

</manifest>